<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>KVK Buldhana 1 - Home</title>
	<link rel="stylesheet" th:href="@{/css/event1.css}" />
</head>

<body>
	<div class="overlay">
		<header>
			<nav>
				<div class="logo">
					<img src="Kvk logo.png" alt="KVK Logo"> KVK Buldhana 1
				</div>
				<ul class="nav-links">
					<li><a href="/users/home">Home</a></li>
					<li class="nav-link">
						<a href="/users/about">About</a>

						<ul class="drop-down">
							<li>
							<li><a href="/users/mandates">Mandate of KVK</a></li>
							<li><a href="/users/location">Location</a></li>
							<li><a href="/users/operational">Operational area</a></li>
							<li><a href="/users/silent">Silent features of<br>Buldhana District</a></li>
					</li>
				</ul>
				<li class="nav-link">
					<a href="#activities">Activities</a>

					<ul class="drop-down">
						<li>
						<li><a href="/users/training">Training Programs</a></li>
						<li><a href="/users/front">Front Line Demonstration</a></li>
						<li><a href="/users/on farm">On Farm Testing</a></li>
						<li><a href="/users/extension">Extension Activities</a></li>
				</li>
				</ul>
				<li class="nav-link">
					<a href="#events">Events</a>
					<ul class="drop-down">
						<li><a href="/users/event1">Agriculture Exhibition<br>SATPUDA AGROTECH-2023</a></li>
						<li><a href="/users/event2">Scientific Advisory<br>Committee Meeting</a></li>
						<li><a href="/users/event3">Visit of ICAR Scientist to KVK</a></li>
						<li><a href="/users/event4">Skill Development Training<br>Under ASCI</a></li>
						<li><a href="/users/event5">Visit of Hon. Dr. Shakir Ali,<br>Principal Scientist, ICAR-ATARI,
								Pune</a></li>
						<li><a href="/users/event6">Celebration of Agriculture<br>Technology Week</a></li>
					</ul>
				</li>
				<li class="nav-link">
					<a href="login.html" class="btn">Login</a>


				</li>

				</ul>
		</header>

		<main class="main-content">
			<h1>Welcome to Krishi Vigyan Kendra, Jalgaon Jamod Buldhana 1</h1>
			<p>Krishi Vigyan Kendra (KVK) is a frontline agricultural extension center bridging the gap between research
				and farmers.</p>

		</main>
	</div>
</body>

</html>